<h1>Welcome to my Web Page</h1>
<h2>Lista de Navegación<h2>
<ul>
    <li><%= link_to 'Estudiantes', students_path %></li>
    <li><%= link_to 'Tutores', tutors_path %></li>
    <li><%= link_to 'Tutorias', tutorings_path %></li>
    <li><%= link_to 'Representantes', parents_path %></li>
</ul>
